
* {
	margin: 0;
	padding: 0;
}

#main-map-wrapper{
	position: absolute;
	right: 5px;
	width: 50%;
	max-height: 100vh;
}


/* .btn-map-div{
	position: absolute;
	top:10.5vh;
	text-align: center;
	width: 100%;
}

.btn-map-div > button {
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	color: #08417B;
	padding: 5px;
	font-size: 18px;
	border-radius: 10px;
  border: 2px solid #08417B;
} */

#mapid{
	top: 10vh;
  width: relative;
  height: 90vh;
}

#info-div {
  position: absolute;
	width: 100%;
	height: 10vh;
	background-color: #08417B;
  font-family: 'Roboto', sans-serif;
}

#info-div > h5{
	font-size: 24px;
	display: inline-block;
	margin: 40px;
	color: white;
}

